.highlight {
    background: #2d2d2d;
    color: rgb(201, 209, 217);
    text-align: left;
    padding: 1em;
    padding-left: 0.8em;
    margin: 1em;
    border-radius: 5px;
    counter-reset: line;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    font-family: 'Microsoft YaHei';
    white-space: pre-wrap;
    overflow-x: scroll;
}


.highlight .code .keyword,
.highlight .code .function_ {
    color: rgb(44, 122, 214);
}

.highlight .code .number {
    color: rgb(181, 192, 120);
}

.highlight .code .string {
    color: rgb(195, 145, 120);
}

.highlight .code .comment {
    color: rgb(106, 153, 85);
}

.highlight .gutter .line {
    margin: 4px;
}

code {
    padding: 2px 6px;
    color: #c7254e;
    background-color: #303030;
    border-radius: 2px;
    font-family: Consolas,Courier,'Courier New',monospace;
}